<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-card-title>Personal Details</mat-card-title>
    <!-- Branch Office -->
    <!-- Date Preselect -->
    <mat-form-field>
        <mat-select placeholder="Mr/Miss/Mrs">
            <mat-option *ngFor="let title of titles" [value]="title.value">
                {{ title.viewValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="firstName" placeholder="First Name" />
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="lastName" placeholder="Last Name" />
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput [(ngModel)]="shortName" placeholder="Short Name" />
    </mat-form-field>
    <br/>
    <mat-form-field>
        <input matInput [(ngModel)]="addressPartOne" placeholder="Address Field 1" />
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="addressPartTwo" placeholder="Address Field 2" />
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="addressPartThree" placeholder="Address Field 3" />
    </mat-form-field>
    <br/>
    <mat-form-field>
        <mat-select placeholder="Nationality">
            <mat-option *ngFor="let nation of nations" [value]="nation.value">
                {{nation.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br/>
</mat-card>